<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="ua.example.Client">
        <constructor-arg value="1" />
        <constructor-arg value="John Smith" />
    </bean>

    <bean id="eventLogger" class="ua.example.ConsoleEventLogger"/>

    <bean id="app" class="ua.example.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>

    <bean id="event" class="ua.example.events.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date" />
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="fileEventLogger" class="ua.example.events.FileEventLogger" init-method="init">
        <constructor-arg value="/home/vadym/FileLogger.txt"/>
    </bean>

    <bean id="cacheFileLogger" class="ua.example.events.CashFileLogger" destroy-method="destroy">
        <constructor-arg value="/home/vadym/FileLogger.txt"/>
        <constructor-arg value="5"/>
    </bean>

</beans>